body {
    margin: 0;
    overflow: hidden;
}

#container {
    height: 100%;
    width: 100%;
}

#vr-button {
    position: absolute;
    left: calc(50%);
    bottom: 54px;
}

#ar-button {
    position: absolute;
    left: calc(50%);
}
